h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blueviolet;
    position: relative;
    left: 40%;
}

body {
    background-color: black;
    overflow: hidden;
}
.main{
    background-color: gray;
    height: 800px;
    width: 1500px;
}

.side {
    height: 100px;
    width: 100px;
    background-color: brown;

}

