#Heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(157, 0, 255);
    position: relative;
    left: 40%;
    display: inline-block;
    margin-bottom: 10px;
    
}
#Heading:hover {
    color: rgb(157, 0, 255);
    text-shadow: 3px 3px 4px rgb(255, 0, 255);
    cursor: crosshair;
}
body {
    background-color: black;
    overflow: hidden;
}
::selection {
    color: rgb(255, 0, 255);
    background-color: rgb(157, 0, 255);
}
.main{
    background-color: gray;
    height: 800px;
    width: 80%;
    display: inline-block;
    position: relative;
}
.sideshit {
    float: right;
    display: inline-block;
    height: 800px;
    width: 20%;
    position: relative;
}
.side {
    height: 400px;
    width: 100%;
    display: inline;
    position: absolute;
    float: right;
    top: 200px;
    margin: none;
}
.lights1 {
    height: 200px;
    width: 100%;
    float: right;
    position: absolute;
    display: inline;
    margin: none;
}
.lights2 {
    float: right;
    position: absolute;
    display: inline;
    height: 200px;
    width: 100%;
    margin: none;
    top: 600px;
}
.contact {
    width: 100%;
    height: 40px;
    background-color: rgb(0, 0, 0);
    margin: 0%;
}
.light1a {
   width: 100px;
   height: 100px;
   position: absolute;
   display: inline;
   left: 20px;
   top: 30px;
}
.light1b {
    width: 100px;
   height: 100px;
   position: absolute;
   display: inline;
   left: 140px;
   top: 30px;
}
.light1c {
    width: 100px;
   height: 100px;
   position: absolute;
   display: inline;
   left: 260px;
   top: 30px;

}
.light2a {
    width: 100px;
    height: 100px;
    position: absolute;
    display: inline;
    left: 20px;
   top: 30px;
}
.light2b {
    width: 100px;
   height: 100px;
   position: absolute;
   display: inline;
   left: 140px;
   top: 30px;
}
.light2c {
    width: 100px;
   height: 100px;
   position: absolute;
   display: inline;
   left: 260px;
   top: 30px;
}
.ai {
   width: 700px;
   height: 700px;
   border-radius: 50%;
   background-color: yellow;
   left: 20px;
   display: inline-block;
   position: relative;
   top: 40px;
}
.button1 {
   width: 350px;
   height: 100px;
   background-color: greenyellow;
   position: absolute;
   left: 750px;
   top: 100px;
}
.button2 {
    width: 350px;
   height: 100px;
   background-color: greenyellow;
   position: absolute;
   left: 750px;
   top: 280px;
}  
.button3 {
    width: 350px;
   height: 100px;
   background-color: greenyellow;
   position: absolute;
   left: 750px;
   top: 430px;
}
.button4 {
    width: 350px;
   height: 100px;
   background-color: greenyellow;
   position: absolute;
   left: 750px;
   top: 600px;
}
.main2 {
    width: 75%;
    height: 800px;
    float: left;
}
.sideshit2 {
    width: 25%;
    height: 800px;
    background-color: rgb(4, 0, 61);
    float: right;
    color: rgb(171, 37, 255);
    word-break: break-all;
    white-space: normal;
}
a.email {
    color: rgb(157, 0, 255);
    text-decoration: none;
    position: absolute;
    left: 45%;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a.email:hover::after {
    color: rgb(157, 0, 255);
    text-shadow: 3px 3px 4px rgb(255, 0, 255);
    cursor: crosshair;
    opacity: 1;
}
a.email::after {
  content: ":)";
  position: absolute;
  top: 0%;
  left: 100%;
  color: rgb(255, 0, 255);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
a.email:hover {
    color: rgb(157, 0, 255);
    text-shadow: 3px 3px 4px rgb(255, 0, 255);
    cursor: crosshair;
}
